body {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    height: 100vh;
    margin: 0;
    font-family: Helvetica;
    grid-gap: 5px; 
}

#log {
    background-color: #a2b4da;
  }
  
#human {
    background-color: #f3dba8;
  }
  
#enemy {
    background-color: #a2cbb6;
  }
