body {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    margin: 0;
    font-family: Helvetica;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: large
}

#log {
    background-color: black
  }
  
#human {
    background-color: black;
  }
  
#enemy {
    background-color: black;
}

#gamebutton {
    font-size: 80px;
    background-color: white;
    border-width: 20px;
    border-color: red cyan blue yellow; /* red top, green right, blue bottom and yellow left */
}

ul {
    list-style-type: none;
    line-height: 1.2;
  }