body {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    font-family: Helvetica;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: large

}

#log {
    background-color: black
  }
  
#human {
  background-color: black;
  color: white;
  }
  
#enemy {
    background-color: black;
    color: white;
}

#gamebutton {
    font-size: 80px;
    background-color: white;
    border-width: 20px;
    border-color: red cyan blue yellow; /* red top, green right, blue bottom and yellow left */
}

ul {
    list-style-type: none;
    line-height: 1.2;
  }

div {
  align-self: start;
  position: sticky;
  top: 20px;
}